.characterList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: aliceblue;
  list-style: none;
  margin: auto;
  width: 80%;
  padding: 0;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (min-width: 1028px) {
    grid-template-columns: repeat(4, 1fr);
  }
  &__elements {
    margin: 0.8rem 0.8rem;
    background: rgb(80, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    &--img {
      width: 100%;
    }
    &--name,
    &--specie {
      padding: 0.5rem 0.5rem;
      color: white;
    }
  }
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
